
#authbox {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#authbox {
  display: block;
  min-height: 196px;
  background: #ffffff;
  box-shadow: 0 0 4px #000000;
  border-radius: 7px;
  overflow: hidden !important;
  text-align: center;
  position: relative;
}

.reg-form {
  width: 55%!important;
}

.reg-form .form-horizontal .controls {
   margin-left: auto;
}


#authbox form{
  width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
}
#authbox p {
  margin-top: 20px;
  padding: 0 20px;
}

#authbox .form-actions {
  padding: 14px 20px 15px;
}
#authbox .form-actions .pull-left {
  margin-top: 2px;
}

#authbox form#loginform {
  z-index: 200;
}

#authbox form#recoverform {
  z-index: 100;
  opacity: 0;
  display:none;
}

#authbox form#recoverform .form-actions {
  margin-top: 27px;
}

#authbox form#recoverform .control-group {
  margin: 23px 0;
}

.form-vertical, .form-actions {
  margin-bottom: 0;
}

@media (max-width: 480px){
  #authbox {
    width: 80%;
  }
}
@media (max-width: 1200px){
  #authbox {
    width: 80%;
  }
}